<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login page</title>
  </head>
  <body>
    <h1>Login</h1>
    <form action="/api/login" method="post">
      <label>Enter your email</label><br />
      <input type="text" name="email" /><br />
      <label>Enter password</label><br />
      <input type="password" name="password" /><br />
      <button type="submit">login</button>
    </form>
  </body>
</html>